* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: rgb(254, 245, 237, 1);
  background: linear-gradient(
    90deg,
    rgba(211, 228, 205, 0.2) 0%,
    rgba(254, 245, 237, 1) 50%,
    rgba(211, 228, 205, 0.2) 100%
  );
}
